.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color:#92288b;
}

.expense-header{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color:#210b77;
  padding: 20px;
}

.App-link {
  color: #61dafb;
  text-align: left;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test{
  background: #61dafb;
}
.app {
  padding: 30px;
}

.budgetLabel{
  margin: 10px 0;
  border-radius: 3px;
  padding: 10px 0px;
}

.newExpense{
  padding: 40px 20px;
  margin: 8px 0;
}

.addButton{
  padding: 20px 0px;
  margin: 8px 10;
  justify-content: left;
}

.informationTable{
  padding:90px 90px;
  margin: 20px 374px;
}